<%= form_with model: [community, post]  do |f| %>
    <% if post.errors.any? %>
        <div>
            <%= post.errors.full_messages.to_sentence.capitalize %>
        <div>
    <% end %>
    <%
=begin%>
 <%= form.hidden_field :community_id, value: "foo" %> 
<%
=end%>
    <div class="columns">
        <div class="column">
            <div class="field">
                <%= f.label :caption, "Caption", class: 'label' %>
                <div class="control">
                    <%= f.text_field :caption, class: 'input' %>
                </div>
            </div>
        </div>
        <div class="column">
        </div>
    </div>
    <div class="block">
        <div class="buttons is-right">
            <%= link_to 'Back to Posts', community_path(community), class: 'button' %>
            <%= f.submit class: 'button is-success' %>
        </div>
    </div>
<% end %>