<div class="block">
  <div class="card">
    <div class="card-content">
      <div class="columns">
          <div class="column">
              <%= link_to post.caption, community_post_path(community_handle, post) %>
          </div>
          <% if post.user == current_user %>
          <div class="column is-narrow">
              <div class="buttons is-right">
                  <%= button_to "Delete",
                              community_post_path(community_handle, post),
                              method: :delete,
                              class: 'button is-danger' %>
                  <%= link_to "Edit",
                              edit_community_post_path(community_handle, post),
                              class: 'button is-link' %>
              </div>
          </div>
          <% end %>
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item is-justify-content-flex-end">
        <%= form_with url: like_post_path(post.id) do |f| %>
          <%= f.submit "(#{post.likes_amount}) #{'Like'.pluralize(post.likes_amount)}", class: 'button is-success' %>
        <% end %>
      </div>
    </footer>
  </div>
</div>